/* main */
.main
{
    margin: 0px;
    height: 98vh;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
}

a
{
    text-decoration: none;
}

/* sidebar */

.sidebar
{
    background: #fff;
    width: 15%;
    height: 98vh;
    border-radius: 25px 0 0 25px;
    /* display: none; */
    padding-top: 30px;
    color: #000;
    overflow: hidden;

}


/* content */
.content
{
    width: 85%;
    /* margin-left: 1%; */
}

.content.active
{
    width: 93%;
}

.arrow-down
{
    transform: rotate(180deg);
}

.sidebar.active
{
    width: 7%;
    /* display: none; */
}
.sidebar.active h6
{
    display: none;
}

.sidebar.active .profile p
{
    display: none;
}

.sidebar.active a i
{
    font-size: 2rem;
    margin-left: 20px;
}

#btn:hover
{
    color: #00f;
}

.sidebar.active span
{
    display: none;
}

.sidebar a
{
    text-decoration: none;
}

.sidebar .home
{
    color: #000;
    text-decoration: none;
}


.sidebar .home i
{
    color: rgb(182, 182, 199);
}
.sidebar .home:hover
{
    color: rgb(210, 97, 4);
}
.sidebar a .home span{
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

.sidebar .profile
{
    background-color: #0b85b2;
    margin: 0 -15px;
    padding: 10px;
    color: #fff;
}

.sidebar .profile img
{
    border-radius: 20%;
}

a{
    list-style-type: none;
}

.sidebar #ul
{
    margin: 0;
    padding: 0;
}

.caret
{
    cursor: pointer;
    user-select: none;
    font-size: 12px;

}

.nested li
{
    font-size: 12px;
    margin: 0;
    list-style-type: none;
    margin-left: -20px;
    padding: 5px;
}
.caret::after{
    content: "\25B2";
    display: inline-block;
    margin-left: 50px;
    float: right;
    transform: rotate(90deg);
    margin-top: 8px;
    
}

/* tables */
table, table tbody td
{
    border: 1px solid rgb(0, 0, 58);
    font-size: 12px;
}

.caret-down::after
{
    transform: rotate(180deg);
}

.nested
{
    display: none;
}

.nested a:hover
{
    color: rgb(221, 111, 20);
}


.nested.active
{
    display: block;
}

.enq-content .image
{
    display: flex; 
}

/* navbar */
.navbar
{
    position: relative;
    width: 100%;
    top: 0;
}


/* inner-content */

.content .inner-content
{
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;

}

.inner-content::-webkit-scrollbar
{
    width: 1vw;
}
.inner-content::-webkit-scrollbar-thumb
{
    background-color: gray;
}

.inner-content::-webkit-scrollbar-track
{
    background-color: #fff;
}

/* import section */
.upload-box
{
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    width: 350px;
    outline: none;
    padding: 3px 10px;
    }

::-webkit-file-upload-button
{
    color: white;
    background: #206a5d;
    border: none;
    padding: 3px 10px;
    border-radius: 50px;
    outline: none;

}
::-webkit-file-upload-button
{
    background: #438a5e;
}

/* chemicals section */
.view_section
{
    display: flex;
}

.tables
{
    width: 100%;
}

.card
{
    border-radius: 5px;
    overflow: hidden;
    border: none;
    color: rgb(4, 4, 81);
    min-height: 5px;
    /* padding: -10px; */
    /* display: none; */
}

.small-cards .card
{
    height:80%;
}

.card a
{
    color: #fff;
    background-color: #3f4c4f;
    text-decoration: none;
}

.card .card1:hover
{
    background-color: #e54040;
}

.card .card2:hover
{
    background-color: #ca5e05;
}
.card .card3:hover
{
    background-color: #014903;
}

.card p
{
    margin-top: -14px;
    font-size: 14px;
}

.card span
{
    font-size: 18px;
    margin-right: 5px;
    font-weight: 700;
}


@media screen and (max-width: 770px) {
    
    .sidebar.active
    {
        width: 40px;
        margin-right: 20px;
        /* display: none; */
    }
    .sidebar.active .head
    {
        display: none;
    }
    .sidebar.active .profile
    {
        display: none;
    }
    .sidebar.active .home
    {
        display: none;
    }

    .content .card
    {
        margin-left: 30px;
    }

    .card
    {
        
    }
    .content .enq-content
    {
        margin-left: 30px;
    }
    }

