/* main */
.main
{
    /* margin: 15px; */
    height: 100vh;
    /* border-radius: 20px; */
    display: flex;
    overflow: hidden;
    position: fixed;
    width:100%;
  
}

a
{
    text-decoration: none;
}

/* sidebar */

.sidebar
{
    background: #fff;
    width: 15%;
    height: 100vh;
    padding-top: 30px;
    color: #000;
    overflow: hidden;

}

.sidebar .head h6 
{
    color: #0b85b2;
    font-size: 15px;
}

/* content */
.content
{
    width: 85%;
    /* margin-left: 1%; */
}

.content.active
{
    width: 93%;
}

.content.active .navbar
{
    width: 93%;
}

.arrow-down
{
    transform: rotate(180deg);
}

.sidebar.active
{
    width: 7%;
    /* display: none; */
}
.sidebar.active h6
{
    display: none;
}

.sidebar.active .profile p
{
    display: none;
}

.sidebar.active a i
{
    font-size: 2rem;
    margin-left: 20px;
}

#btn:hover
{
    color: #00f;
}

.sidebar.active span
{
    display: none;
}

.sidebar a
{
    text-decoration: none;
}

.sidebar .home
{
    color: #0b85b2;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar .home i
{
    color: rgb(182, 182, 199);
}
.sidebar .home:hover
{
    color: rgb(239, 134, 49);
}
.sidebar a .home span{
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

.sidebar .profile
{
    background-color: #fff;
    margin: 0 -15px;
    padding: 10px;
}

.sidebar .profile img
{
    border-radius: 20%;
}

a{
    list-style-type: none;
}

.sidebar #ul
{
    margin: 0;
    padding: 0;
}

.caret
{
    cursor: pointer;
    user-select: none;
    font-size: 12px;

}

.nested li
{
    font-size: 12px;
    margin: 0;
    list-style-type: none;
    margin-left: -20px;
    padding: 5px;
}
.caret::after{
    content: "\25B2";
    display: inline-block;
    margin-left: 50px;
    transform: rotate(90deg);
    margin-top: 8px;
    
}

/* tables */
table, table tbody td
{
    border: 1px solid rgb(0, 0, 58);
    font-size: 12px;
}

.caret-down::after
{
    transform: rotate(180deg);
}

.nested
{
    display: none;
}

.nested a:hover
{
    color: rgb(221, 111, 20);
}


.nested.active
{
    display: block;
}

.enq-content .image
{
    display: flex; 
}

/* navbar */
.navbar
{
    position: fixed;
    width: 85%;
    top: 0;
}

.footer
{
    position: relative;
    width: 100%;
    bottom: 0;
    /* justify-content: space-between; */
    display: none;
}
.footer ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 30px;

}

.footer ul a
{
    color: #fff;
    margin-right: 4px;
    text-decoration: none;
}

.footer ul a:hover
{
    color: rgb(221, 111, 20);
}


/* inner-content */

.content .inner-content
{
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    margin-left: 2%;
    margin-top: 50px;

}



/* import section */
.upload-box
{
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    width: 350px;
    outline: none;
    padding: 3px 10px;
    }

::-webkit-file-upload-button
{
    color: white;
    background: #206a5d;
    border: none;
    padding: 3px 10px;
    border-radius: 50px;
    outline: none;

}
::-webkit-file-upload-button
{
    background: #438a5e;
}

/* chemicals section */
.view_section
{
    display: flex;
}

.tables
{
    width: 100%;
}

/* welcome message */


.chemicals .header
{
    background: #26baf1;
    color: #fff;
    padding: 4px 12px;
    display: flex;
    justify-content: space-between  ;
}

.chemicals .header a
{
    color:#fff;
}

.chemicals .header a:hover
{
    color: rgb(221, 111, 20);
}


.products .product-item
{
    height: 120px;  
    /* font-size: 12px; */
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin: 0 -10px;
    background-color: #fff;
}

.product-item a p
{
    margin-top: -7px;
}

.products .product-item:hover
{
    background: rgb(221, 111, 20);
    color: #fff;

}

